<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Privacy - Local Notifications Usage Description</key>
	<string>&quot;Tipot uses notifications to remind you to drink water.&quot;</string>
</dict>
</plist>
