<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chugs.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ChugsNotification.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9D0AFF262E69C0490079E900</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D0AFF332E69C04A0079E900</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D0AFF3D2E69C04A0079E900</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D62B6522EFEB4E6005743E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DF10C4C2E98FE9C00F451FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
